# for MutatorMath
-e git+https://github.com/typesupply/fontMath.git#egg=fontMath
-e git+https://github.com/unified-font-object/ufoLib.git#egg=ufoLib

# for ufo2ft
-e git+https://github.com/fonttools/fonttools.git#egg=fonttools
-e git+https://github.com/googlei18n/compreffor.git#egg=compreffor

# direct dependencies
-e git+https://github.com/googlei18n/cu2qu.git#egg=cu2qu
-e git+https://github.com/googlei18n/glyphsLib.git#egg=glyphsLib
-e git+https://github.com/googlei18n/ufo2ft.git#egg=ufo2ft
-e git+https://github.com/LettError/MutatorMath.git#egg=MutatorMath
-e git+https://github.com/typemytype/booleanOperations.git#egg=booleanOperations
-e git+https://github.com/typesupply/defcon.git#egg=defcon

# install fontmake from source folder in "editable" mode
-e .
