fonttools[repacker,unicode,ufo,lxml]==4.53.1; platform_python_implementation == 'CPython'
fonttools[repacker,unicode,ufo]==4.53.1; platform_python_implementation != 'CPython'
glyphsLib==6.8.0
ufo2ft==3.2.7
fontMath==0.9.3
booleanOperations==0.9.0
ufoLib2==0.16.0
cffsubr==0.3.0
compreffor==0.5.5
ttfautohint-py==0.5.1

# optional, for experimental reading/writing ufoLib2's UFO as json
cattrs==23.2.3
orjson==3.10.6; platform_python_implementation == 'CPython'
