<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotoSansDevanagari-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Black GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Black GSUB w172-190.txt</string>
	</dict>
	<key>NotoSansDevanagari-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Regular GSUB w59-121.txt</string>
	</dict>
	<key>NotoSansDevanagari-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Black Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Black GSUB w172-190.txt</string>
	</dict>
	<key>NotoSansDevanagari-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Thin Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Thin GSUB w26-58.txt</string>
	</dict>
	<key>NotoSansDevanagari-CondensedSemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Bold Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Bold GSUB w122-171.txt</string>
	</dict>
	<key>NotoSansDevanagari-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Thin GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Thin GSUB w26-58.txt</string>
	</dict>
	<key>NotoSansDevanagari-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Regular GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Regular GSUB w59-121.txt</string>
	</dict>
	<key>NotoSansDevanagari-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari Bold GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari Bold GSUB w122-171.txt</string>
	</dict>
	<key>NotoSansDevanagariUI-Bold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari UI Black GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari UI Black GSUB w172-190.txt</string>
	</dict>
	<key>NotoSansDevanagariUI-Condensed</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari UI Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari UI regular GSUB w59-121.txt</string>
	</dict>
	<key>NotoSansDevanagariUI-CondensedBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari UI Black Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari UI Black GSUB w172-190.txt</string>
	</dict>
	<key>NotoSansDevanagariUI-CondensedLight</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari UI Thin Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari UI Thin GSUB w26-58.txt</string>
	</dict>
	<key>NotoSansDevanagariUI-CondensedSemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari UI Bold Condensed GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari UI Bold GSUB w122-171.txt</string>
	</dict>
	<key>NotoSansDevanagariUI-Light</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari UI Thin GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari UI Thin GSUB w26-58.txt</string>
	</dict>
	<key>NotoSansDevanagariUI-Regular</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari UI Regular GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari UI regular GSUB w59-121.txt</string>
	</dict>
	<key>NotoSansDevanagariUI-SemiBold</key>
	<dict>
		<key>GDEF</key>
		<string>Noto Sans Devanagari UI GDEF.txt</string>
		<key>GPOS</key>
		<string>Noto Sans Devanagari UI Bold GPOS.txt</string>
		<key>GSUB</key>
		<string>Noto Sans Devanagari UI Bold GSUB w122-171.txt</string>
	</dict>
</dict>
</plist>
